<h1><%= @post.title%></h1>
<% @post.categories.each do |category| %>
    <p>Category: <%= category.name%></p>
<% end %>
<p><%= @post.content %></p>
<ul>
    <% if @post.comments != nil %>
        <% @post.comments.each do |comment| %>
            <li>
                <%= link_to comment.user.username, user_path(comment) %> says: <%= comment.content%>
            </li>
        <% end %>
    <% end %>
</ul>


<%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.fields_for :user, User.new do |new_user| %>
        <%= new_user.text_field :username %>
    <% end %>
    <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: true} %>
    <%= f.text_field :content %>
    <%= f.submit %>
<% end %> 